body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: rgb(1, 41, 65);
  color: white;
}

header {
  background-color: #033150;
  box-shadow: 0px 1px 10px #c2c0c0;
  color: white;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 150px;
}

footer {
  background-color: #033150;
  color: white;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  box-shadow: 0px 1px 10px #c2c0c0;
}

h2 {
  font-size: 18px;
}

button {
  background-color: rgba(255, 255, 255, 0.9);
  border-style: none;
  border-radius: 20px;
  color: #033150;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
}

button:hover {
  transform: scale(1.2);
}

input {
  background-color: rgba(245, 246, 247, 0.1);
  border: none;
  color: white;
}

::placeholder {
  color: white;
}

progress {
  width: 150px;
  margin-left: 10px;
}

/* Responsive Design */

@media (max-width: 660px) {
  h1 {
    font-size: 32px;
  }

  input {
    width: 100px;
  }
}

@media (max-width: 560px) {
  h1 {
    font-size: 25px;
  }

  input {
    width: 75px;
  }
}

@media (max-width: 490px) {
  header {
    height: 175px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  table {
    margin-left: 15px;
    margin-right: 15px;
  }
}
