body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  max-width: 1920px;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: rgb(1, 41, 65);
  color: white;
}

header {
  background-color: #033150;
  box-shadow: 0px 1px 10px #c2c0c0;
  color: white;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

footer {
  background-color: #033150;
  color: white;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  box-shadow: 0px 1px 10px #c2c0c0;
}

h2 {
  font-size: 18px;
}

button{
  background-color: rgb(1, 41, 65, 0.9);
  border-color: white;
  border-style: solid;
  color: white;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  transform: scale(1.2);
}

th {
  font-weight: normal;
}


/* Responsive Design */

@media(max-width: 660px){
  h1 {
    font-size: 32px;
  }

  input{
    width: 100px;
  }

}

@media(max-width: 560px){ 
  h1 {
    font-size: 25px;
  }

  input{
    width: 75px;
  }

}

@media(max-width: 490px){ 
  header  {
    height: 175px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

}

