body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  max-width: 1920px;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: rgb(1, 41, 65);
  color: white;
}

h2 {
  font-size: 18px;
}

button{
  background-color: rgb(1, 41, 65, 0.9);
  border-color: white;
  border-style: solid;
  color: white;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  transform: scale(1.2);
}

th {
  font-weight: normal;
}
