.overlay{
    position: fixed;
    top: 0;
    background-color: rgb(1, 41, 65, 0.90);
    width: 100%;
    height: 100vh;
    overflow-y: hidden; 
    overflow-x: hidden;
}

.toggle_d_none{
    display: none;
}


.pokecard-overlay{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.pokecard-large{
    background-color: #011624;
    width: 450px;
    height: 650px;
    margin-top: 130px;
    border-radius: 20px;
}

.loading-btn {
    position: relative;
    margin: 0;
    
}

.overlay-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    padding-top: 10px;
}

h2 {
    font-size: 22px;
}

.overlay-pokemon-img {
    width: 275px;
}

.pokemon-img:hover {
    transform: scale(1.2);
}

.card-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.overlay-bg-size {
  height: 325px;
  width: 450px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokeDetails {
    width: 100%;
    height: 32px;
    display: flex;
    border-width: 0.5px;
    border-color: rgb(94, 93, 93);
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}

.detail-category {
    cursor: pointer;
    width: 33%;
    text-align: center;
    height: 100%;
    background-color: #032236;
    padding-top: 10px;
}

.detail-category:hover {
    border-bottom: 4px #7a0f41;
    border-bottom-style: solid;
}

.detail-view-main{
    margin-top: 15px;
    width: 100%;
}

.progress-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;    
}

.stats-content-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.text-align{
    text-align: left;
    margin-left: 50px;
}

.evo-img{
    width: 100px;
    margin-left: 15px;
    margin-right: 15px;
}
.evo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}