.overlay{
    position: fixed;
    top: 0;
    background-color: rgb(1, 41, 65, 0.90);
    width: 100%;
    height: 100vh;
    overflow-y: hidden; 
    overflow-x: hidden;
}

.toggle_d_none{
    display: none;
}


.pokecard-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pokecard-large{
    background-color: #011624;
    width: 450px;
    height: 650px;
    margin-top: 130px;
    border-radius: 20px;
}

.loading-btn {
    position: relative;
    margin: 0;
    
}

.overlay-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    padding-top: 10px;
}

h2 {
    font-size: 22px;
}

.overlay-pokemon-img {
    width: 275px;
}

.pokemon-img:hover {
    transform: scale(1.2);
}

.card-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.overlay-bg-size {
  height: 325px;
  width: 450px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokeDetails {
    width: 100%;
    height: 32px;
    display: flex;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(94, 93, 93);
    background-color: #042b47;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}

.detail-category {
    cursor: pointer;
}

.detail-category:hover {
    transform: scale(1.2);
    box-shadow: 1px 1px 1px rgb(65, 64, 64);
}

.detail-view-main{
    margin-top: 15px;
    width: 100%;
}