.overlay{
    position: fixed;
    top: 0;
    background-color: rgb(1, 41, 65, 0.90);
    width: 100%;
    height: 100vh;
    overflow-y: hidden; 
    overflow-x: hidden;    
    display: flex;
    align-items: center;
    justify-content: center;

}

.pokecard-overlay{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.pokecard-large{
    background-color: #011624;
    width: 450px;
    height: 650px;
    margin-top: 130px;
    border-radius: 20px;
}

.loading-btn {
    position: relative;
    margin: 0;
}

.overlay-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    padding-top: 10px;
}

h2 {
    font-size: 22px;
}

.overlay-pokemon-img {
    width: 275px;
}

.pokemon-img:hover {
    transform: scale(1.2);
}

.card-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.overlay-bg-size {
  height: 325px;
  width: 450px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokeDetails {
    width: 100%;
    height: 32px;
    display: flex;
    border-width: 0.5px;
    border-color: rgb(94, 93, 93);
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}

.detail-category {
    cursor: pointer;
    width: 33%;
    text-align: center;
    height: 100%;
    background-color: #032236;
    padding-top: 10px;
}

.detail-category:hover {
    border-bottom: 4px #7a0f41;
    border-bottom-style: solid;
}

.detail-view-main{
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
}

.progress-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.stats-content-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.evo-img{
    width: 100px;
}
.evo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.icon-img{
    width: 25px;
}

.icon-img:hover{
    transform: scale(1.2);
}

.detail-content{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

/* Responsive Design */

@media (max-width: 660px){

.pokecard-large{
    width: 375px;
}

h2 {
    font-size: 20px;
}

.overlay-pokemon-img {
    width: 225px;
}


.overlay-bg-size {
  height: 275px;
  width: 100%;
}



.detail-view-main{
    width: 85%;
    margin-left: 10px;
    margin-right: 10px;
}

.evo-img{
    width: 80px;
}

.evo-container{
    margin-left: 10px;
}
}

@media (max-width: 430px){

.pokecard-large{
    width: 250px;
    height: 525px;
}

h2 {
    font-size: 18px;
}

.overlay-pokemon-img {
    width: 75px;
}


.overlay-bg-size {
  height: 100px;
  width: 100%;
}

.evo-img{
    width: 60px;
}

.stats-content-container{
    margin-left: 25px;
    margin-right: 5px;
    flex-direction: column;
    justify-content: center;
}

.detail-content{
    margin-left: 25px;
    margin-right: 5px;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
}

.evo-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

}