.icon_fire {
  width: 45px;
  height: 45px;
  background-image: url("https://raw.githubusercontent.com/partywhale/pokemon-type-icons/refs/heads/main/icons/fire.svg");
}

.icon_grass {
  width: 45px;
  height: 45px;
  background-image: url("https://raw.githubusercontent.com/partywhale/pokemon-type-icons/refs/heads/main/icons/grass.svg");
}

.icon_bug {
  width: 45px;
  height: 45px;
  background-image: url("https://raw.githubusercontent.com/partywhale/pokemon-type-icons/refs/heads/main/icons/bug.svg");
}

.icon_dark {
  width: 45px;
  height: 45px;
  background-image: url("https://raw.githubusercontent.com/partywhale/pokemon-type-icons/refs/heads/main/icons/dark.svg");
}

.icon_dragon {
  width: 45px;
  height: 45px;
  background-image: url("https://raw.githubusercontent.com/partywhale/pokemon-type-icons/refs/heads/main/icons/dragon.svg");
}

.icon_electric {
  width: 45px;
  height: 45px;
  background-image: url("https://raw.githubusercontent.com/partywhale/pokemon-type-icons/refs/heads/main/icons/electric.svg");
}

.icon_fairy {
  width: 45px;
  height: 45px;
  background-image: url("https://raw.githubusercontent.com/partywhale/pokemon-type-icons/refs/heads/main/icons/fairy.svg");
}

.icon_fighting {
  width: 45px;
  height: 45px;
  background-image: url("https://raw.githubusercontent.com/partywhale/pokemon-type-icons/refs/heads/main/icons/fighting.svg");
}

.icon_flying {
  width: 45px;
  height: 45px;
  background-image: url("https://raw.githubusercontent.com/partywhale/pokemon-type-icons/refs/heads/main/icons/flying.svg");
}

.icon_ghost {
  width: 45px;
  height: 45px;
  background-image: url("https://raw.githubusercontent.com/partywhale/pokemon-type-icons/refs/heads/main/icons/ghost.svg");
}

.icon_ground {
  width: 45px;
  height: 45px;
  background-image: url("https://raw.githubusercontent.com/partywhale/pokemon-type-icons/refs/heads/main/icons/ground.svg");
}

.icon_ice {
  width: 45px;
  height: 45px;
  background-image: url("https://raw.githubusercontent.com/partywhale/pokemon-type-icons/refs/heads/main/icons/ice.svg");
}

.icon_normal {
  width: 45px;
  height: 45px;
  background-image: url("https://raw.githubusercontent.com/partywhale/pokemon-type-icons/refs/heads/main/icons/normal.svg");
}

.icon_poison {
  width: 45px;
  height: 45px;
  background-image: url("https://raw.githubusercontent.com/partywhale/pokemon-type-icons/refs/heads/main/icons/poison.svg");
}

.icon_psychic {
  width: 45px;
  height: 45px;
  background-image: url("https://raw.githubusercontent.com/partywhale/pokemon-type-icons/refs/heads/main/icons/psychic.svg");
}

.icon_rock {
  width: 45px;
  height: 45px;
  background-image: url("https://raw.githubusercontent.com/partywhale/pokemon-type-icons/refs/heads/main/icons/rock.svg");
}

.icon_steel {
  width: 45px;
  height: 45px;
  background-image: url("https://raw.githubusercontent.com/partywhale/pokemon-type-icons/refs/heads/main/icons/steel.svg");
}

.icon_water {
  width: 45px;
  height: 45px;
  background-image: url("https://raw.githubusercontent.com/partywhale/pokemon-type-icons/refs/heads/main/icons/water.svg");
}

.bg_fire {
  background-color: #e4613e;
}

.bg_grass {
  background-color: #439837;
}

.bg_bug {
  background-color: #9f9f28;
}

.bg_dark {
  background-color: #4f4747;
}

.bg_dragon {
  background-color: #576fbc;
}

.bg_electric {
  background-color: #dfbc28;
}

.bg_fairy {
  background-color: #e18ce1;
}

.bg_fighting {
  background-color: #e49021;
}

.bg_flying {
  background-color: #74aad0;
}

.bg_ghost {
  background-color: #6f4570;
}

.bg_ground {
  background-color: #a4733c;
}

.bg_ice {
  background-color: #47c8c8;
}

.bg_normal {
  background-color: #828282;
}

.bg_poison {
  background-color: #9354cb;
}

.bg_psychic {
  background-color: #e96c8c;
}

.bg_rock {
  background-color: #a9a481;
}

.bg_steel {
  background-color: #74b0cb;
}

.bg_water {
  background-color: #3099e1;
}
/* -------------------------------------- */
@media (max-width: 430px){
.icon_fire {
  width: 25px;
  height: 25px;
}

.icon_grass {
  width: 25px;
  height: 25px;
}

.icon_bug {
  width: 25px;
  height: 25px;
}

.icon_dark {
  width: 25px;
  height: 25px;
}

.icon_dragon {
  width: 25px;
  height: 25px;
}

.icon_electric {
  width: 25px;
  height: 25px;
}

.icon_fairy {
  width: 25px;
  height: 25px;
}

.icon_fighting {
  width: 25px;
  height: 25px;
}

.icon_flying {
  width: 25px;
  height: 25px;
}

.icon_ghost {
  width: 25px;
  height: 25px;
}

.icon_ground {
  width: 25px;
  height: 25px;
}

.icon_ice {
  width: 25px;
  height: 25px;
}

.icon_normal {
  width: 25px;
  height: 25px;
}

.icon_poison {
  width: 25px;
  height: 25px;
}

.icon_psychic {
  width: 25px;
  height: 25px;
}

.icon_rock {
  width: 25px;
  height: 25px;
}

.icon_steel {
  width: 25px;
  height: 25px;
}

.icon_water {
  width: 25px;
  height: 25px;
}
}