.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo {
  width: 75px;
  margin-top: 25px;
  margin-left: 64px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.poke-card {
  background-color: #011624;
  height: 300px;
  width: 200px;
  margin: 64px;
  border-radius: 20px;
  cursor: pointer;
}

.poke-card:hover {
  transform: scale(1.2);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  padding-top: 10px;
}

.pokemon-img {
  width: 125px;
}

.pokemon-img:hover {
  transform: scale(1.2);
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.closing-button {
  position: absolute;
  right: 35px;
  top: 35px;
}

.bg-size {
  height: 175px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-spinner {
  margin-top: 64px;
  width: 125px;
}

.search-bar {
  border-radius: 15px;
  padding: 8px;
}

.stack-slide-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.toggle_d_none {
  display: none !important;
}

.text-align {
  text-align: left;
  margin-left: 50px;
}

.no-scroll {
  overflow: hidden;
}

.search-section {
  margin-right: 64px;
}

.no-result-feedback {
  margin-top: 64px;
}

/* Responsive Design */

@media (max-width: 660px) {
  .logo {
    width: 45px;
    margin-top: 25px;
    margin-left: 64px;
  }

  .loading-spinner {
    margin-top: 64px;
    width: 55px;
  }
}

@media (max-width: 490px) {
  .logo {
    margin-top: 25px;
    margin-left: 0;
  }

  .poke-card {
    background-color: #011624;
    height: 300px;
    width: 200px;
    margin: 32px;
    border-radius: 20px;
    cursor: pointer;
  }

  .search-section {
    margin-right: 0;
  }
}
