body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: rgb(1, 41, 65);
    color: white;
    
}

header {
    background-color: #033150;
    box-shadow: 0px 1px 10px #c2c0c0;;
    color: white;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.logo {
    width: 75px;
    margin-top: 25px;  
    margin-left: 64px; 
}

footer {
    background-color: #033150;
    color: white;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    box-shadow: 0px 1px 10px #c2c0c0;;
}

.poke-card{
    background-color:  #011624;
    height: 300px;
    width: 200px;
    margin: 64px;
    border-radius: 20px;
}

.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-size: 18px;
}