body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: rgb(1, 41, 65);
  color: white;
}

header {
  background-color: #033150;
  box-shadow: 0px 1px 10px #c2c0c0;
  color: white;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.logo {
  width: 75px;
  margin-top: 25px;
  margin-left: 64px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 150px;
}

footer {
  background-color: #033150;
  color: white;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  box-shadow: 0px 1px 10px #c2c0c0;
}

.content {
  display: flex;
  flex-wrap: wrap-reverse;
}

.poke-card {
  background-color: #011624;
  height: 300px;
  width: 200px;
  margin: 64px;
  border-radius: 20px;
  cursor: pointer;
}

.poke-card:hover {
  transform: scale(1.2);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
  padding-top: 10px;
}

h2 {
  font-size: 18px;
}

.pokemon-img {
  width: 125px;
}

.pokemon-img:hover {
  transform: scale(1.2);
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px;
  position: absolute;
  right: 35px;
  top: 35px;
  background-color: rgb(1, 41, 65, 0.9);
  border-color: white;
  border-style: solid;
  color: white;
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
}

.bg-size {
  height: 175px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-spinner{
  margin-top: 64px;
  width: 125px;
}