body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: rgb(1, 41, 65);
    color: white;
    
}

header {
    background-color: #033150;
    box-shadow: 0px 1px 10px #c2c0c0;;
    color: white;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.logo {
    width: 75px;
    margin-top: 25px;  
    margin-left: 64px; 
}

footer {
    background-color: #033150;
    color: white;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    box-shadow: 0px 1px 10px #c2c0c0;;
}

.content {
    display: flex;
    flex-wrap: wrap-reverse;
    padding-bottom: 100px;

}

.poke-card{
    background-color:  #011624;
    height: 300px;
    width: 200px;
    margin: 64px;
    border-radius: 20px;
    cursor: pointer;
}

.poke-card:hover {
    transform: scale(1.2);
}

.card-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    padding-top: 10px;
}

h2 {
    font-size: 18px;
}
.card-main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    height: 175px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pokemon-img {
    width: 125px;
}

.pokemon-img:hover {
    transform: scale(1.2);
}

.card-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay{
    position: fixed;
    top: 0;
    background-color: rgb(1, 41, 65, 0.90);
    width: 100%;
    height: 100vh;
    overflow-y: hidden; 
    overflow-x: hidden;
}

.toggle_d_none{
    display: none;
}

button {
    padding: 10px;
    position: absolute;
    right: 35px;
    top: 35px;
    background-color: rgb(1, 41, 65, 0.90);
    border-color: white;
    border-style: solid;
    color: white;
    cursor: pointer;
}

button:hover{
    transform: scale(1.2);
}

.pokecard-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pokecard-large{
    background-color: #011624;
    width: 650px;
    height: 550px;
    margin-top: 130px;
    border-radius: 20px;
}